@{
    ViewData["Title"] = "About Me";
}

<div class="container" id="about-container">
    <div class="text-center">
        <h1 class="display-4">About Me</h1>
    </div>

    <div id="about-content">
        <p>
            I'm a senior at Texas A&M University-Corpus Christi, pursuing a degree in Computer Science with a concentration in Game Programming.
            I'm passionate about creating immersive and engaging gaming experiences.
        </p>

        <p>
            In my free time, I love to play games (and 100% them!), listen to music, work on my own game development projects, and catch up on the latest manga.
        </p>

        <div class="social-links">
            <a href="https://github.com/TomTPHoang" target="_blank">GitHub</a> |
            <a href="https://www.linkedin.com/in/thien-hoang-059117236/" target="_blank">LinkedIn</a>
        </div>
    </div>
</div>