@model List<Character>

<div class="hero-image" style="background-image: url('https://static0.srcdn.com/wordpress/wp-content/uploads/2018/10/Red-Dead-Redemption-2-Key-Art-Cropped.jpg');">
    <div class="hero-text">
        <h1 class="display-4">Outlaws for Life</h1>
        <p>Explore the dying days of the Wild West in Red Dead Redemption 2</p>
        <a class="btn btn-light" asp-area="" asp-controller="Home" asp-action="Story">Enter the World</a>
    </div>
</div>

<div class="container">
    <div class="welcome-section">
        <h2>Welcome to the Wild West</h2>
        <p>
            America, 1899. The end of the Wild West era has begun. Outlaws like Arthur Morgan and the Van der Linde gang are
            forced to flee from the law.
            Experience a vast and unforgiving open world, where survival depends on your skills with a gun and your choices
            in a changing world.
        </p>
    </div>

    <div class="welcome-section">
        <h2>Videos</h2>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/eaW0tYpxyp0"
                    title="Red Dead Redemption 2: Official Trailer #3" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>

        </div>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Dw_oH5oiUSE?si=AoYtMsm-LWJ3ab8b" 
                    title="Red Dead Redemption 2: Official Gameplay Video" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" 
                    allowfullscreen></iframe>
        </div>
    </div>

    <div class="buy-section">
        <h2>Buy Red Dead Redemption 2</h2>
        <a href="https://store.rockstargames.com/en/game/buy-red-dead-redemption-2" target="_blank">
            <img src="https://cdn2.steamgriddb.com/grid/4462ce522641f89734281db08e122333.png" class="launcher-icon">
        </a>
        <a href="https://store.steampowered.com/app/1174180/Red_Dead_Redemption_2/" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Steam_Logo.png" class="launcher-icon">
        </a>
    </div>
</div>