<div class="container" id="story-container"> 
    <div id="story-content">
        <h1 class="display-4">The Story of Red Dead Redemption 2</h1>
        <p>A tale of outlaws, betrayal, and the decline of the Wild West.</p>

        <h2>Chapter 1: Colter</h2>
        <p> After a failed robbery, the gang have fled from Blackwater into the Grizzly Mountains, but a late spring storm has left them half frozen and starving. They hole up in an abandoned mining town to lick their wounds and await a break in the weather. </p>

        <h2>Chapter 2: Horseshoe Overlook</h2>
        <p>
            After a break in the weather, the gang have headed down from the mountains, and are now hiding at Horseshoe Overlook.

            They are outside Valentine, a muddy livestock town, and are figuring out their next moves while re-gathering their strength. Dutch is trying to figure out a new plan for the gang, Hosea is finding places to rob, while Karen and the girls are bored after being stuck in the mountains. Some old friends reappear.
        </p>

        <h2>Chapter 3: Clements Point</h2>
        <p>
            The gang got run of Valentine after an altercation with the railway magnate, Leviticus Cornwall, who has grown tired of having his trains robbed by gangs of outlaws. Afraid that the routes westwards were being watched by Pinkerton agents, the gang moved south and east and are now hiding at Clemens Cove, near the town of Rhodes.

            Rhodes is a rundown town that has lost a lot of its Antebellum charm, and is in the grip of a feud between two old local families, the Grays and the Braithwaites. Dutch and Hosea hope to use this dispute to their advantage.
        </p>

        <h2>Chapter 4: Saint Denis</h2>
        <p>
            Things ended poorly in Rhodes. The Pinkertons showed up again, and little Jack Marston is kidnapped.

            The gang headed to Saint Denis hunting for Jack and are now hiding outside town, deep in the swamps, in a rundown old manor house called Shady Belle. Dutch is desperately searching for an escape plan for them all. Hosea meanwhile is hunting a serious score for them.
        </p>

        <h2>Chapter 5: Guarma</h2>
        <p>
            The bank robbery in Saint Denis was a disaster. The gang has been almost destroyed, several members were killed and arrested. Everything seemed lost.

            Dutch, Micah, Javier, Bill and Arthur escaped on a boat. The boat sank in the Carribean and they were washed ashore on the island of Guarma, a sugar cane producing island off the coast of Cuba. The island is dominated by Colonel Fussar, a local tyrant, kept in power by the sugar companies. The local workers are despondent. The gang, or what remains of them are pressured into helping by a Haitian smuggler named Hercule. In exchange, he will try to find them passage back to America.
        </p>

        <h2>Chapter 6: Beaver Hollow</h2>
        <p>
            The gang, or what is left of it were reunited at Lakay, but was quickly assaulted by a squad of Pinkertons.

            The gang fled into some dangerous county to the north and are now hiding in Beaver Hollow, awaiting their fate and riddled with internal disputes and anxieties. Arthur is not feeling very well and is unsure what to do.
        </p>

        <h2>Epilogue, Part 1: Pronghorn Ranch</h2>
        <p>
            John takes a job at Pronghorn Ranch and tries to escape his past indiscretions, while learning the skills of ranching.

            He and his family live under assumed names, or try to, as they return to some familiar country after several years of wandering in the north and west.
        </p>

        <h2>Epilogue, Part 2: Beecher's Hope</h2>
        <p> In an effort to give Abigail the life she has always wanted, John has bought a farm of his own. He is trying to become a family man and a rancher, with help and hindrance from some old friends. </p>
        </div>
</div>