@{
    ViewData["Title"] = "Weaponry";
}

<div class="container">
    <div class="weaponry-section">
        <h1>Weaponry</h1>
        <p>
            Detail, depth and choice define every aspect of Red Dead Redemption 2, and weapons are no exception. There are over 50 unique usable weapons, a massive range of options for customization, and a wide selection of different ammunition types to improve accuracy, range or damage. The more a gun is used, the better it will perform, but it will also start to degrade over time if not looked after, so a trusty sidearm needs to be kept oiled and clean.
        </p>
    </div>

    <div class="weaponry-grid">
        <div class="row">
            <div class="col-md-6">
                <div class="weapon-item">
                    <img src="https://www.ireddead.com/img/content/640x0/1724.jpg" alt="Cattleman Revolver">
                    <div class="weapon-details">
                        <h2>Cattleman Revolver</h2>
                        <p>
                            A popular and classic sidearm, the Buck Cattleman is a great all-around revolver, featuring a good balance of damage, accuracy and fire rate. Suited for close to medium-range combat, this gun can also be dual-wielded and used on horseback. This gun has an ammo capacity of six rounds, and can use Regular, High Velocity, Split Point, Express and Explosive revolver ammo.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="weapon-item">
                    <img src="https://preview.redd.it/ybcm5mggvh321.jpg?width=640&crop=smart&auto=webp&s=f0753be5eae8918d50a70312b4b53e081b088338" alt="Schofield Revolver">
                    <div class="weapon-details">
                        <h2>Schofield Revolver</h2>
                        <p>
                            The powerful Hutton & Baird Schofield is an accurate revolver with high damage, making a good choice for any serious gunslinger. Despite a slower firing rate and reload speed, when compared with other revolvers, it can still be dual wielded to great effect. This gun has an ammo capacity of six rounds, and can use Regular, High Velocity, Split Point, Express and Explosive revolver ammo.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="weapon-item">
                    <img src="https://www.ireddead.com/bigimage/1727/" alt="Sawed-Off Shotgun">
                    <div class="weapon-details">
                        <h2>Sawed-Off Shotgun</h2>
                        <p>
                            The Peeters & Janssens Sawed-Off is a versatile shotgun that can be used easily with one hand or dual wielded to great effect. Rough and deadly, but widely inaccurate, this weapon is ideal for close quarter combat on foot or on horseback. This gun has an ammo capacity of two rounds and can use Regular Buckshot, Incendiary Buckshot, Slug and Explosive Slug shotgun ammo.
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="weapon-item">
                    <img src="https://www.ireddead.com/img/content/640x0/1725.jpg" alt="Volcanic Pistol">
                    <div class="weapon-details">
                        <h2>Volcanic Pistol</h2>
                        <p>
                            The Hutton & Baird Volcanic Pistol combines the stopping power of a repeating rifle with the portability of a sidearm. Although the accuracy is good, the slow firing rate and reload speed mean that you'd better hit your target with the first shot. This gun has an ammo capacity of eight rounds, and can use Regular, High Velocity, Split Point, Express and Explosive pistol ammo..
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="weapon-item">
                    <img src="https://www.ireddead.com/img/content/640x0/1726.jpg" alt="Springfield Rifle">
                    <div class="weapon-details">
                        <h2>Springfield Rifle</h2>
                        <p>
                            A military favorite, the Lancaster Springfield is a powerful breech-loading weapon designed for medium to long-range combat. The high accuracy makes this weapon effective against large mammals, but the slow firing rate may be an issue when trapped in close quarters. This gun is a single-shot weapon, and can use Regular, High Velocity, Split Point, Express and Explosive rifle ammo.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="weapon-item">
                    <img src="https://www.ireddead.com/img/content/640x0/1728.jpg" alt="Litchfield Rifle">
                    <div class="weapon-details">
                        <h2>Litchfield Rifle</h2>
                        <p>
                            The Litchfield Repeater is a great choice for hunting, with the best damage of all repeating rifles and a large ammo capacity. Despite a slower fire rate and reload speed, the Litchfield excels at medium range combat; perfect when needing to clear an area. While very damaging, the accuracy of the gun can become a issue while moving or at distances.
                        </p>
                    </div>
                </div>
            </div>

            <div class="weapon-customization-section">
                <h2>Weapon Choice & Customization</h2>
                <p>
                    With a myriad of customization options ranging from visual upgrades like new metals, woods, varnishes and engravings to performance upgrades like new barrels, grips, sights and scopes, you can design an entirely unique weapon that looks and handles exactly the way you want it to. Every weapon’s performance varies in terms of damage, range, fire rate, accuracy and reload speed so it’s important to pick wisely depending on the situation. The high fire rate of a Double-Action Revolver lends itself well to shooting on the move from horseback. If you’re carrying something in one hand, like a lantern or small animal, consider using a Sawed-Off Shotgun which packs a much bigger punch at close range than other one-handed weapons. The Varmint Rifle is perfect for hunting small game because it’s far less likely to damage the quality of the skin and meat than a firearm with a bigger shell size. When faced with just one or two enemies, you might want to go for a Springfield Rifle which has a slower fire rate but delivers much higher damage. For range, a sniper rifle of some kind is obviously a good choice, but scopes can also be fitted to all other types of rifle enabling you to switch between regular view and scope view at any time.
                </p>

                <div class="customization-grid">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="customization-item">
                                <img src="https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/132ef1af2ccefb8233ed0a24213a9d31.jpg" alt="Customizations">
                                <p>Metals and engravings are customizable per component - select different colors and engravings for the trigger guard, barrel, frame and more. You can also choose from a variety of inlay metals for the engravings on each part.</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="customization-item">
                                <img src="https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/ea841961d0ea1d15e72ea6f7579a5638.jpg" alt="Ammo Types">
                                <p>For extra stopping power, purchase and craft a variety of ammo types such as Split Point, High Velocity or Explosive ammo.</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="customization-item">
                                <img src="https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/4aed55ae520eb7ed011a88f001c75ccd.jpg" alt="Horse">
                                <p>Your horse’s saddle will store all of your weapons. Be sure to select and carry the weaponry you’ll need when leaving your horse behind.</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="customization-item">
                                <img src="https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/35d62270e362a0073400daa33d24193b.jpg" alt="Dual Wield">
                                <p>Carry single handed pistols, revolvers and the single handed Sawed-Off Shotgun in your holsters. Upgraded and reinforced holsters will protect the weapons from degradation against the elements while Off-Hand Holsters give you the ability to dual wield.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>